/* Grid and SCSS Framework */
@import "bourbon/bourbon";
@import "grid-settings";
@import "neat/neat";

/* Google Fonts */

@import url(http://fonts.googleapis.com/css?family=Montserrat+Alternates|Roboto+Slab:400,300);

/* Breakpoints */

$iphone5: min-device-width 320px max-device-width 568px device-aspect-ratio 40/71;
$mobile: max-width 480px 4;

/* Global */

body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto Slab', serif;
  @include media($mobile);
  @include media($iphone5);
}

.header {
  @include outer-container;
}

.color_bio {
  background-color: #96B49C;
  min-height: 600px;
  @include media($mobile) {
    min-height: 350px;
  }
  @include media($iphone5) {
    background-color: #CCCCCC;
  }
}

.color_blog {
  background-color: #FFFEC6;
  min-height: 560px;
  @include media($mobile) {
    min-height: 400px;
  }
}

a {
  text-decoration: none;
  color: #000000;
  &:hover {
    color: #CC5D4C;
  }
}

/* Index Heading */

.title {
  @include span-columns(12);
  @include pad();
  text-align: center;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 72px;
  @include media($mobile) {
    font-size: 48px;
  }
}

.bio {
  @include span-columns(12);
  @include pad();
}

.bio p {
  @include pad();
  @include span-columns(6 of 12);
  text-align: center;
  font-size: 20px;
  @include media($mobile) {
    font-size: 15px;
    @include pad(10px);
    margin-top: 50px;
  }
}

.curly_beg {
  font-size: 150px;
  @include span-columns(3 of 12);
  text-align: right;
  @include media($mobile) {
    font-size: 175px;
  }
}

.curly_end {
  @extend .curly_beg;
  text-align: left;
}

/* Links */


.links {
  @include span-columns(12);
  i {
    @include span-columns(3 of 3);
    text-align: center;
    @include pad(50px);
  }
  a {
    @include span-columns(3);
    @include media($mobile) {
      margin-right: 0px;
    }
  }
}

/* Blog Post Summaries */

.blog_summaries {
  @include outer-container;
  min-height: 650px;
  h1 {
    @include span-columns(12);
    text-align: center;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 64px;
  }
  h1:after {
    content: '';
    position: relative;
    display: block;
    margin-top: 10px;
    height: 2px;
    left: 45%;
    width: 100px;
    background-color: #000000;
  }
  @include media($mobile) {
     h1 {
       font-size: 48px;
     }
     h1:after {
       left: 40%;
     }
  }
}

.title_blog {
  @include span-columns(8);
  @include shift(2);
  font-size: 48px;
  text-align: center;
  margin-bottom: 10px;
  @include media($mobile) {
    font-size: 36px;
  }
}

.date {
  @include span-columns(1);
  @include shift(2);
  text-align: right;
  border-right: solid 5px;
  padding-right: 5px;
  @include media($mobile) {
    padding-right: 5px;
    width: auto;
  }
}

.excerpt {
  @include span-columns(6);
  @include omega();
  margin-top: -5px;
  p {
    padding: 0px;
    margin: 0px;
  }
  @include media($mobile) {
    font-size: 15px;
  }
}

.read_more {
  @include span-columns(1);
  @include shift(8);
  margin-top: 10px;
  text-align: right;
  font-weight: bold;
}

