@import url(http://fonts.googleapis.com/css?family=Montserrat+Alternates|Roboto+Slab:400,300);
/* Grid and SCSS Framework */
/* Change Grid Settings */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* Google Fonts */
/* Breakpoints */
/* Global */
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto Slab', serif; }

.header {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .header:before, .header:after {
    content: " ";
    display: table; }
  .header:after {
    clear: both; }

.color_bio {
  background-color: #96B49C;
  min-height: 600px; }
  @media screen and (max-width: 480px) {
    .color_bio {
      min-height: 350px; } }
  @media screen and (min-device-width: 320px) and (max-device-width: 568px) {
    .color_bio {
      background-color: #CCCCCC; } }

.color_blog {
  background-color: #FFFEC6;
  min-height: 560px; }
  @media screen and (max-width: 480px) {
    .color_blog {
      min-height: 400px; } }

a {
  text-decoration: none;
  color: #000000; }
  a:hover {
    color: #CC5D4C; }

/* Index Heading */
.title {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 100%;
  padding: 2.35765%;
  text-align: center;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 72px; }
  .title:last-child {
    margin-right: 0; }
  @media screen and (max-width: 480px) {
    .title {
      font-size: 48px; } }

.bio {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 100%;
  padding: 2.35765%; }
  .bio:last-child {
    margin-right: 0; }

.bio p {
  padding: 2.35765%;
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 48.82117%;
  text-align: center;
  font-size: 20px; }
  .bio p:last-child {
    margin-right: 0; }
  @media screen and (max-width: 480px) {
    .bio p {
      font-size: 15px;
      padding: 10px;
      margin-top: 50px; } }

.curly_beg, .curly_end {
  font-size: 150px;
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 23.23176%;
  text-align: right; }
  .curly_beg:last-child, .curly_end:last-child {
    margin-right: 0; }
  @media screen and (max-width: 480px) {
    .curly_beg, .curly_end {
      font-size: 175px; } }

.curly_end {
  text-align: left; }

/* Links */
.links {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 100%; }
  .links:last-child {
    margin-right: 0; }
  .links i {
    display: block;
    float: left;
    margin-right: 10.1484%;
    width: 100%;
    text-align: center;
    padding: 50px; }
    .links i:last-child {
      margin-right: 0; }
  .links a {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 23.23176%; }
    .links a:last-child {
      margin-right: 0; }
    @media screen and (max-width: 480px) {
      .links a {
        margin-right: 0px; } }

/* Blog Post Summaries */
.blog_summaries {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  min-height: 650px; }
  .blog_summaries:before, .blog_summaries:after {
    content: " ";
    display: table; }
  .blog_summaries:after {
    clear: both; }
  .blog_summaries h1 {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 100%;
    text-align: center;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 64px; }
    .blog_summaries h1:last-child {
      margin-right: 0; }
  .blog_summaries h1:after {
    content: '';
    position: relative;
    display: block;
    margin-top: 10px;
    height: 2px;
    left: 45%;
    width: 100px;
    background-color: #000000; }
  @media screen and (max-width: 480px) {
    .blog_summaries h1 {
      font-size: 48px; }
    .blog_summaries h1:after {
      left: 40%; } }

.title_blog {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 65.88078%;
  margin-left: 17.05961%;
  font-size: 48px;
  text-align: center;
  margin-bottom: 10px; }
  .title_blog:last-child {
    margin-right: 0; }
  @media screen and (max-width: 480px) {
    .title_blog {
      font-size: 36px; } }

.date {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 6.17215%;
  margin-left: 17.05961%;
  text-align: right;
  border-right: solid 5px;
  padding-right: 5px; }
  .date:last-child {
    margin-right: 0; }
  @media screen and (max-width: 480px) {
    .date {
      padding-right: 5px;
      width: auto; } }

.excerpt {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 48.82117%;
  margin-right: 0;
  margin-top: -5px; }
  .excerpt:last-child {
    margin-right: 0; }
  .excerpt p {
    padding: 0px;
    margin: 0px; }
  @media screen and (max-width: 480px) {
    .excerpt {
      font-size: 15px; } }

.read_more {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 6.17215%;
  margin-left: 68.23843%;
  margin-top: 10px;
  text-align: right;
  font-weight: bold; }
  .read_more:last-child {
    margin-right: 0; }
