/* Grid and SCSS Framework */
@import "bourbon/bourbon";
@import "grid-settings";
@import "neat/neat";

/* Google Fonts */

@import url(http://fonts.googleapis.com/css?family=Montserrat+Alternates|Roboto+Slab:400,300);

/* Global */

body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto Slab', serif;
}

.header {
  @include outer-container;
}

.color_bio {
  background-color: #16a085;
  min-height: 600px;
}

.color_blog {
  background-color: #3498db;
  min-height: 560px;
}

a {
  text-decoration: none;
  color: #000000;
  &:hover {
    color: #c0392b;
  }
}

/* Index Heading */

.title {
  @include span-columns(12);
  @include pad();
  text-align: center;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 64px;
}

.bio {
  @include span-columns(12);
  @include pad();
}

.bio p {
  @include pad();
  @include span-columns(6 of 12);
  text-align: center;
  font-size: 20px;
}

.curly_beg {
  font-size: 150px;
  @include span-columns(3 of 12);
  text-align: right;
}

.curly_end {
  @extend .curly_beg;
  text-align: left;
}

/* Links */


.links {
  @include span-columns(12);
  i {
    @include span-columns(3 of 3);
    text-align: center;
    @include pad(50px);
  }
  a {
    @include span-columns(3);
  }
}

/* Blog Post Summaries */

.blog_summaries {
  @include outer-container;
  min-height: 650px;
  h1 {
    @include span-columns(12);
    text-align: center;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 64px;
  }
  h1:after {
    content: '';
    position: relative;
    display: block;
    margin-top: 10px;
    height: 2px;
    left: 45%;
    width: 100px;
    background-color: #000000;
  }

}

.title {
  @include span-columns(12);
  font-size: 48px;
  text-align: center;
}

.date {
  @include span-columns(3);
  text-align: right;
  border-right: solid 5px;
  padding-right: 2px;
}

.excerpt {
  @include span-columns(7);
  @include omega();
  p {
    padding: 0px;
    margin: 0px;
  }
}

.read_more {
  @include span-columns(1);
  @include shift(9);
  margin-top: 10px;
  text-align: left;
  font-weight: bold;
}

