@import url(http://fonts.googleapis.com/css?family=Montserrat+Alternates|Roboto+Slab:400,300);
/* Grid and SCSS Framework */
/* Change Grid Settings */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* Google Fonts */
/* Breakpoint */
/* Global */
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto Slab', serif; }

.container {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .container:before, .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }

.post_color {
  background-color: #FFFEC6;
  min-height: 780px; }

a {
  color: #CC5D4C;
  text-decoration: none; }

/* Decorator */
.decorator {
  min-height: 15px;
  background-color: #96B49C; }

/* Post Title */
.title, p.meta {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 100%;
  text-align: center; }
  .title:last-child, p.meta:last-child {
    margin-right: 0; }

p.meta {
  margin-top: 5px;
  font-style: italic; }

/* Post Body */
.post {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 48.82117%;
  margin-left: 25.58941%; }
  .post:last-child {
    margin-right: 0; }
  @media screen and (max-width: 568px) {
    .post {
      font-size: 15px;
      display: block;
      float: left;
      margin-right: 7.42297%;
      width: 100%;
      padding: 0 20px 0px 20px;
      margin: auto; }
      .post:last-child {
        margin-right: 0; } }

/* The Button */
.button {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 14.70196%;
  margin-left: 42.64902%;
  padding: 15px 10px 10px 10px;
  width: 160px;
  background-color: #5B5847;
  height: 58px; }
  .button:last-child {
    margin-right: 0; }
  @media screen and (max-width: 568px) {
    .button {
      margin: 20px 0px 40px 80px;
      width: 160px; } }

a.back {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  color: #000000; }

/* Comment section */
.comments {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 48.82117%;
  margin-left: 25.58941%;
  padding: 2.35765%; }
  .comments:last-child {
    margin-right: 0; }
  @media screen and (max-width: 568px) {
    .comments {
      font-size: 15px;
      display: block;
      float: left;
      margin-right: 7.42297%;
      width: 100%;
      padding: 0 20px 0px 20px;
      margin: auto; }
      .comments:last-child {
        margin-right: 0; } }
